# DATABASE_URL='postgresql://neondb_owner:npg_pTrjk6ebaQ7C@ep-morning-pine-a1euk2og-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
DATABASE_URL=''
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL= # Base URL of your app

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

OPEN_WEATHER_API_KEY=''

GOOGLE_GENERATIVE_AI_API_KEY=""